<div ng-controller="studentDashboardController">
    <nav class="navbar bg-body-tertiary d-block d-md-none">
        <div class="container-fluid">
            <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample"><img src="../images/main-menu.png" class="mx-2" style="height: 2rem"
                    alt="options"></a>
            <div ui-sref="student.profile" class="d-flex align-items-center justify-content-around w-auto gap-3 mx-lg-5" mx-md-2>
                <h5 class="m-0">{{name}}</h5>
                <div style="height: 2rem; width: 2rem; border-radius: 50%;">
                    <img src="../images/user.png" style="width: 100%; cursor: pointer;">
                </div>
            </div>
        </div>
    </nav>
    <ui-view class="h-auto d-flex flex-column p-4" style="position: relative">
        
        <div class="d-flex border-bottom border-white align-items-center" style="gap: 1rem;">
            <img src="../images/dashboard.png" style="height: 2.5rem;" alt="">
            <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="mt-4">
            <div class="d-flex" style="gap: 1rem;">
                <img src="../images/calendar.png" style="height: 2rem;" alt="">
                <h3 class="mb-4"> Attendance as of 1 oct 2025</h3>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in attendance">
                        <th scope="row">{{$index +1}}</th>
                        <td>{{teachers[$index].subject}}</td>
                        <td>Prof. {{teachers[$index].name}}</td>
                        <td><p style="font-weight: bold;padding-left: 0.5rem; padding-right: 0.5rem;border-radius: 0.5rem; width: fit-content; background-color: {{data.calendar['1 oct 2025'] ? 'green':'red'}};">{{data.calendar['1 oct 2025'] ? 'Present':'Absent'}}</p></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="border rounded" data-coreui-locale="en-US" data-coreui-selection-type="month"
                    data-coreui-start-date="2024-2" data-coreui-toggle="calendar">
                </div>
            </div>
        </div>
        <div  class="mt-2">
            <div class="d-flex" style="gap: 1rem;">
                <img src="../images/archive.png" style="height: 2rem;" alt="">
                <h3 class="mb-4"> Know your syllabus</h3>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Syllabus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in teachers">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{teacher.subject}}</td>
                        <td>Prof. {{teacher.name}}</td>
                        <td><a style="text-decoration: none;" ui-sref="student.{{teacher.subject}}Syllabus">Click me! </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </ui-view>
    <div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-dark d-none d-md-block" style="position: absolute; top: 0; left:0; height: 100vh;width: 350px; border-right:2px solid #495057;">
        <div class="offcanvas-header mt-auto">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel">Welcome {{name}}!</h3>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        </div>
        <div class="offcanvas-body">
            <div class="list-group mt-2">
                <a ui-sref="student" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action" aria-current="true">
                    Dashboard
                </a>
                <a ui-sref="student.mySubjects" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action">My Subjects</a>
                <a ui-sref="student.myAttendance" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action">My Attendance</a>
            </div>
            <div class="d-flex align-items-center gap-2 mt-4">
                <button class="btn" ng-click='logout()' style="border: 1px solid #495057">logout <img src="../images/logout.png" style="height: 2rem; margin-left: 0.5rem;" alt="logout"></button>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Welcome {{name}}!
            </div>
            <div class="list-group mt-2">
                <a ui-sref="student" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action" aria-current="true">
                    Dashboard
                </a>
                <a ui-sref="student.mySubjects" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action">My Subjects</a>
                <a ui-sref="student.myAttendance" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action">My Attendance</a>
            </div>
            <div class="d-flex align-items-center gap-2 mt-4">
                <button class="btn" ng-click='logout()' style="border: 1px solid #495057">logout <img src="../images/logout.png" style="height: 2rem; margin-left: 0.5rem;" alt="logout"></button>
                <!-- <img src="../images/logout.png" style="height: 2rem;" alt="logout"> -->
            </div>
        </div>
    </div>
</div>