<div ng-controller="teacherDashboardController">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample"><img src="../images/main-menu.png" class="mx-2" style="height: 2rem"
                    alt="options"></a>
            <div ui-sref="teacher.profile" class="d-flex align-items-center justify-content-around w-auto gap-3 mx-lg-5" mx-md-2>
                <h5 class="m-0">{{name}}</h5>
                <div style="height: 2rem; width: 2rem; border-radius: 50%;">
                    <img src="../images/user.png" style="width: 100%; cursor: pointer;">
                </div>
            </div>
        </div>
    </nav>

    <ui-view class="h-auto d-flex flex-column p-4">
        <h1>Teacher Dashboard</h1>
        <div>
            <h1>My Students</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Roll number</th>
                        <th scope="col">subject</th>
                    </tr>
                </thead>
                <tbody ng-repeat="student in students">
                    <tr>
                        <th scope="row">{{$index+1}}</th>
                        <td>{{student.name}}</td>
                        <th scope="row">{{student.id}}</th>
                        <th scope="row">{{subject}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </ui-view>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Welcome {{name}}!
            </div>
            <div class="dropdown mt-2">
                <div class="list-group">
                    <a ui-sref="teacher" class="list-group-item list-group-item-action" aria-current="true">
                        Dashboard
                    </a>
                    <a ui-sref="teacher.myStudents" class="list-group-item list-group-item-action">My Students</a>
                    <a ui-sref="teacher.markAttendance" class="list-group-item list-group-item-action">Mark
                        Attendance</a>
                </div>
            </div>
        </div>
    </div>



</div>